@model List<MyECommerce.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Of Products</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Products</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@Html.ActionLink(product.Name, "Edit", "Products", new {id = product.Id}, null)</td>
        </tr>
    }
    </tbody>

</table>
